.coming-page { width:100%; height:100%; position:absolute; z-index:1; top:0}

.coming-soon-logo{padding:70px 0 0 0; }
/*-------------------------------------------------------------
* Countdown
*-------------------------------------------------------------*/
.countdown-wrapper {
margin: 20px 0 50px;}
#back-countdiown {padding:0 0 40px 0;text-align:center;display:inline-block; border-bottom:dashed 1px #9d9d9d;}
.website{display:inline-block; font-size:30px; color:#FFFFFF; position:relative; top:-20px; font-weight:300; margin-right:25px}
.website strong{font-weight:700}
#back-countdiown li {
display: inline-block;
margin-right: 15px;
min-width: 130px;
text-align: center;
margin:0;
position: relative;
}
#back-countdiown li::after{ content:':'; position:absolute; right:-25px; color:#f9c323; top:10%; font-size:6.250em; font-weight:700;}
#back-countdiown li:last-child::after{content:'';}


.send-message {
background: url(../images/page/arrow.png) no-repeat right center #004dda;
padding: 10px 56px 10px 28px;
border: 0;
cursor: pointer;
}


@media screen and (max-width:800px) {
#back-countdiown li span {
padding:15px!important;
font-size:3.813em!important
}

#back-countdiown li::after {font-size:3.813em!important; right:-15px}
#back-countdiown li p { font-size:0.9em!important}
#back-countdiown { padding:0 0 20px 0}
.back-to a { margin:25px 0 0 0}

}
@media screen and (max-width:600px) {
#back-countdiown li {
margin-bottom: 5px;
}
}
#back-countdiown li:last-child {
margin-right: 0
}
#back-countdiown li span {
display: block;
font-size:7.500em;
padding: 0px 40px 0;
font-weight: 700;
color:#f9c323
}
#back-countdiown li p {
text-transform: uppercase;
font-size:1em;
font-weight: 300;
margin: 0;
padding: 0px 0;
color: #f9c323;
}
#back-countdiown li span:hover {
cursor: pointer;
}
/*-------------------------------------------------------------
* Subscribe 
*-------------------------------------------------------------*/
@media screen and (max-width:768px) {
.subscribe-form {
width: 100%;
}
}

/*------------------
* Video Background
*------------------*/

.fullscreen-bg {
position: fixed;
top: 0;
right: 0;
bottom: 0;
left: 0;
overflow: hidden;
z-index: -100;
}
.fullscreen-bg::before {
position: absolute;
content: "";
background: rgba(0, 0, 0, 0.7);
left: 0;
right: 0;
top: 0;
bottom: 0;
z-index: 1;
}
.fullscreen-bg__video {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}
@media (min-aspect-ratio: 16/9) {
.fullscreen-bg__video {
height: 300%;
top: -100%;
}
}
@media (max-aspect-ratio: 16/9) {
.fullscreen-bg__video {
width: 300%;
left: -100%;
}
}

/*-----------------------
* Footer
*-----------------------*/
.footer {
position: relative;
display: block;
bottom: auto;
left: auto;
}
/*social-links*/
.social-links {
text-align:center
}
.social-links ul {
margin: 0;
padding: 0;
}
.social-links li {
list-style: none;
display: inline-block;
margin-right: 10px;
}
.social-links li a {
display: block;
font-size: 18px;
color: rgba(255, 255, 255, .3);
text-align: center;
-webkit-transition: all 0.5s;
-moz-transition: all 0.5s;
transition: all 0.5s;
}
.social-links li a:hover {
color: #fff;
}
/*copyright*/
.copyright {
margin-top: 10px;
font-size: 12px;
color: rgba(255, 255, 255, .3);
padding: 0;
line-height: 1;
}
.copyright a {
color: rgba(255, 255, 255, 0.3);
text-decoration : none;
border-bottom: 1px dotted rgba(255, 255, 255, 0.3);
}
.copyright li {
display: inline-block;
margin-right: 10px;
}
.copyright li:last-child {
border-left: 1px solid rgba(255, 255, 255, .2);
padding-left: 12px;

}
.subscribe-form2 {
width:auto!important
}


.counter-area {margin:6% 0}
.counter-area h1 { margin:0 0 30px 0; padding:0 15px; font-size:1.875em; font-weight:700}
.counter-area h5 { margin:0 0 60px 0; padding:0 15px; font-size:14px; color:#ccc}
.back-to a { background:url(../images/page/arrow.png) #004dda no-repeat center right; padding:10px 55px 10px 30px; text-transform:uppercase; font-weight:700; display:inline-block; color:#fff; margin:55px 0 0 0; font-size:1em}
.back-to a:hover {background:url(../images/page/arrow.png) #000  no-repeat center right;}

.social-media2 { margin:32px 0 0 0}
.social-media2 ul { margin:0; padding:0}
.social-media2 li { margin:0; padding:0; display:inline-block}
.social-media2 li + li::before {content: "|"; color:#4c4b49; margin:0 15px;}
.social-media2 a { color:#fff; margin:0 14px 0 14px; font-size:22px; }
.social-media2 a:hover { color:#19c2c8;}
