#filters {margin:0 auto 27px auto;padding:0; width:100%;list-style:none;display:inline-block}

.item.small { width: 25%; }
.item.medium { width: 35%; }
.large { width:48.2%!important;}

.cake-icone  { background:url(../images/icon10.html) no-repeat bottom center!important; height:49px; margin:25% 0 0 0}
.portfolio:hover .cake-icone { -webkit-transition: all 1s ease-in-out;
-moz-transition: all 1s ease-in-out;-o-transition: all 1s ease-in-out;transition: all 1s ease-in-out;}


.hover-text { left:20px; right:20px; top:20px; top:20px; width:auto; height:90%; border:solid 3px rgba(255, 255, 255, 0.3); cursor:pointer;}
.hover-text h3 { margin:2% 0 2% 0}

#filters li {display:inline-block; margin:10px 1px 0 1px}
#filters li span {
display: block;text-transform:uppercase;
position:relative;padding:9px 25px;text-decoration:none;
color:#000; font-size:14px;cursor: pointer;margin:0 0 4px;
font-weight:700; border-radius:50px	 
}
#filters li span.active {color:#fff; background:#FFC107}
 
#portfoliolist{min-height:315px}
#portfoliolist .portfolio {
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
-o-box-sizing: border-box;
margin:0;display:none;
}
#portfoliolist .portfolio {position:relative;height:auto; margin:0; }

